/* home page 1 */
@media screen and (max-width:768px){
    .top-header .top-social-icons{
        text-align: center;
    }
    .top-header .top-adress p a{
        font-size: 13px;
    }
    .top-header .top-social-icons ul li{
        margin: 0 10px;
    }
}
@media screen and (max-width:400px){
    .top-header .top-social-icons{
        text-align: center;
    }
    .top-header .top-adress p {
        font-size: 14px;
        text-align: center;
    }
    .top-header .top-social-icons ul li{
       
        margin: 0 5px;
        height: 30px ;
        width: 30px;
    }
    .top-header .dropdown .fas{
        font-size: 10px;
    }
}
@media screen and (max-width:992px){
    .header .navbar-nav .h-in-button{
        display: block;
    }
    .header .h-button{
        display: none;
    }
    .navbar-nav{
        text-align: start;
        margin: 0;
    }
    .btn{
        padding: 0 ;
    }
}
/* banner start */
@media screen and (max-width:1200px){
    .banner-text{
        padding: 200px 0px 200px 50px;
    }
    .banner-text h1{
        font-size: 50px;
    }
    .banner .banner-img>img{
        max-width: 80%;
    }
}
@media screen and (max-width:992px){
    .banner-text{
        padding: 100px 0px 100px 50px;
    }
    .banner-text h1{
        font-size: 30px;
    }
    .banner .banner-img>img{
        max-width: 70%;
    }
    .banner-text p{
        font-size: 15px;
        padding: 10px 0px 10px 0;
    }
}
@media screen and (max-width:768px){
    .banner-text{
        padding: 100px 0px 100px 50px;
    }
    .banner-text h1{
        font-size: 25px;
    }
    .banner .banner-img>img{
        max-width: 100%;
    }
    .banner-text p{
        font-size: 15px;
        padding: 10px 0px 10px 0;
    }
}
@media screen and (max-width:576px){
    .banner-text{
        padding: 10px 0px 20px 0px;
        text-align: center;
    }
    .banner #banner-img{
        order: 2;
    }
    #banner-text{
        order: 1;
    }
    .banner-text h1{
        font-size: 25px;
    }
    .banner .banner-img>img{
        order:2;
        max-width: 30%;
        position: relative;
    }
    .banner .banner-img{
        text-align: center;
    }
    .banner-text p{
        font-size: 15px;
        padding: 10px 0px 10px 0;
    }
}
@media screen and (max-width:1200px){
    .home2-wrapper .banner-text{
        padding: 200px 0px 200px 0px; 
    }
    .home2-wrapper .banner-text h1{
        font-size: 50px;
    }
    .home2-wrapper .banner-text p{
        padding: 20px 0;
        width: 45%;
    }
}
@media screen and (max-width:992px){
    .home2-wrapper .banner-text{
        padding: 200px 0px 200px 0px; 
    }
    .home2-wrapper .banner-text p{
        padding: 20px 0;
        width: 60%;
    }
    .home2-wrapper .banner-text h1{
        font-size: 40px;
    }
}
@media screen and (max-width:768px){
    .home2-wrapper .banner-text{
        padding: 100px 0px 100px 0px; 
    }
    .home2-wrapper .banner-text p{
        padding: 20px 0;
        width: 80%;
    }
    .home2-wrapper .banner-text h1{
        font-size: 30px;
        padding: 0px 0;
    }
}
@media screen and (max-width:575px){
    .home2-wrapper .banner-text{
        padding: 30px 0px 30px 0px; 
    }
    .home2-wrapper .banner-text p{
        padding: 20px 0;
        width: 100%;
    }
    .home2-wrapper .banner-text h1{
        font-size: 30px;
        padding: 0px 0;
    }
}
@media screen and (max-width:768px){
    .home3-wrapper .h3-banner .banner-text{
        width: 100%;
        text-align: center;
    
    }
}
/* banner end */
/* about start */
@media screen and (max-width:992px){
    .about{
        padding: 50px 0;
    }
    .about-content .experience-text{
        width: 150px;
        padding: 15px 0;
    }
    .about-content .experience-text h4{
        font-size: 25px;
    }
    .about-content .experience-text h5{
        font-size: 16px;
    }
    .about .about-content h3{
        font-size: 30px;
        font-family: 'helvetica';
        font-weight: 700;
        color: #020303;
        text-transform: capitalize;
        margin-top: 0px;
    }
    .about .about-content p{
        font-size: 15px;
        font-weight: 600;
        color: #707070;
        padding: 0px 50px 0 0 ;
    }
}
@media screen and (max-width:768px){
    .about-content .experience-text{
        width: 120px;
        padding: 10px 0;
        position: relative;
        left: 0%;
        top: 0;
    }
    .about-content .about-img-part{
        margin-top: 10px;
    }
    .about-content .s-button{
        padding: 10px 30px;
        margin: 200px 0 0px 0;
        position: relative; 
        bottom: 0%;
    }
    .about-content .experience-text h4{
        font-weight: 700;
        font-size: 20px;
    }
    .about-content .experience-text h5{
        font-weight: 700;
        font-size: 15px;
    }
}
@media screen and (max-width:575px){
    .about{
        padding: 20px 0;
    }
    .about .about-content p{
        padding: 0px 10px 0 0 ;
    }
}
@media screen and (max-width:1200px){
    .home2-wrapper .about-text-content h3{
        font-size: 33px;  
        margin-top: 0;
    }
    .home2-wrapper .about-text-content p,
    .home2-wrapper .about-second-part .abs-text p{
        color: #707070;
        font-size: 16px;
        margin: 0 0 5px 0;
    }
    .home2-wrapper .about-second-part .abs-text .s-button{
        margin-top: 10px;
    }
    .home2-wrapper .home2-counter{
        padding: 20px 0 35px 0;
    }
    .home2-wrapper .home2-counter h3{
        font-size: 40px;
    }
}
@media screen and (max-width:992px){
    .home2-wrapper .home2-about{
        padding: 50px 0 50px 0;
    }
    .home2-wrapper .about-text-content{
        padding: 0px 0px 0px 0;
    }
    .home2-wrapper .about-text-content h3{
        font-size: 30px;  
    }
    .home2-wrapper .about-text-content p,
    .home2-wrapper .about-second-part .abs-text p{
        color: #707070;
        font-size: 15px;
    }
    .home2-wrapper .about-second-part .abs-text .s-button{
        margin-top: 10px;
    }
    .home2-wrapper .home2-counter{
        padding: 20px 0 35px 0;
        margin-top: 10px;
    }
    .home2-wrapper .home2-counter h3{
        font-size: 40px;
    }
    .home2-wrapper .home2-counter .hc-text{
        font-size: 16px;
        font-weight: 700;
        text-transform: capitalize;
    }
}
@media screen and (max-width:768px){
    .home2-wrapper .home2-about{
        padding: 20px 0 00px 0;
    }
    .home2-wrapper .about-text-content h3{
        font-size: 25px;  
    }
}
@media screen and (max-width:350px){
    .home2-wrapper .home2-counter .hc-text{
        font-size: 14px;
        font-weight: 700;
        text-transform: capitalize;
    }
}
@media screen and (max-width:1200px){
   
    .home3-about .abs-text h3{
        font-size:40px;
        margin-top: 0;
    }
    .home3-about .abs-text p{
        font-size:15px;
    }
}
@media screen and (max-width:992px){
    .home3-about{
        padding: 30px 0;
    }
   
    .home3-about .abs-text {
        padding: 20px 0;
    }
    .home3-about .abs-text h3{
        font-size:30px;
      
    }
    
}
@media screen and (max-width:768px){
    .home3-about .about-img .about-img-overlay h2{
        font-size: 25px;
    }
}
@media screen and (max-width:576px){
    .home3-about{
        padding: 20px 0;
    }
    .home3-about .abs-text {
        padding: 20px 0;
    }
    .home3-about .abs-text h3{
        font-size:25px;
       
    }
    .home3-about .about-img .about-img-overlay h2{
        font-size: 20px;
    }
    .home3-about .about-img .about-img-overlay h5{
        font-size: 15px;
    }
}
/* about end */
/* counter start */
@media screen and (max-width:992px){
    .counter-up .counter-content h3{
        font-size: 30px;
        padding-top: 10px;
    }
    .counter-up .counter-content p{
        font-size: 18px;
    }
}
@media screen and (max-width:576px){
    .counter-up .counter-content h3{
        font-size: 40px;
        padding-top: 10px;
       
    }
    .counter-up .counter-content p{
        font-size: 22px;
    }

}
@media screen and (max-width:992px){
    .home3-wrapper .counter-content p{
        padding: 20px 0px;
        font-size: 16px !important;
    }
    .home3-wrapper .counter-content p .fas{  
        font-size: 16px;
        height: 30px;
        width: 30px;
    }
    .home3-wrapper .counter-overlay{
        background-color: #1a4c7296;
        padding: 30px 0 50px 0; 
    }
}
@media screen and (max-width:768px){
    .home3-wrapper .counter-content p{
        padding: 10px 0px;
        font-size: 20px !important;
    }
    .home3-wrapper .counter-content p .fas{  
        font-size: 16px;
        height: 30px;
        width: 30px;
    }
    .home3-wrapper .counter-overlay{
        background-color: #1a4c7296;
        padding: 20px 0 40px 0; 
    }
}
@media screen and (max-width:576px){
    .home3-wrapper .counter-content p{
        padding: 10px 0px;
        font-size: 20px !important;
    }
    .home3-wrapper .counter-content p .fas{  
        font-size: 16px;
        height: 30px;
        width: 30px;
    }
    .home3-wrapper .counter-overlay{
        background-color: #1a4c7296;
        padding: 10px 0 30px 0; 
    }
}
/* counter end */
/* skills start */
@media screen and (max-width:992px){
    .skills{
        padding: 70px 0;
    }
    .skill-text p{
        font-size: 17px;
        padding: 0 0px 0 0;
    }
    .skill-text{
        padding: 20px 0 0px 20px;
    }
    .skill-text h3{
        font-size: 30px;
    }
}
@media screen and (max-width:575px){
    .skills{
        padding: 50px 0;
    }
}
@media screen and (max-width:575px){
    .skills{
        padding: 30px 0;
    }
    .skill-text p{
        font-size: 17px;
        padding: 0 0px 0 0;
    }
    .skill-text{
        padding: 20px 20px 0px 20px;
    }
    .skill-text h3{
        font-size: 30px;
    }
}
@media screen and (max-width:1200px){
    .home2-wrapper .skill-card h5{
        font-size: 18px;
    }
}
@media screen and (max-width:992px){
    .home2-wrapper .skill-card{
        position: relative;
        bottom: 0%;
        margin: 0 0px 10px 0;
    }
    .home2-wrapper .skill-overlay{
        padding-bottom: 20px;
    }
}
@media screen and (max-width:992px){
    .home3-wrapper .skills{
        padding: 0px 0 50px 0;
    }
    .home3-wrapper .skills .skill-bar{
        padding: 0  0 0px 0px;
        border: none;
    }
    .home3-wrapper .skills .skill-text{
        padding: 0px 0 0 0px;
    }
}
/* skilles end */
/* section heading */
@media screen and (max-width:992px){
    .s-heading{
        text-align: center;
        padding: 30px 0;
    }
    .s-heading h3{
        font-size: 30px;
    }
    .s-heading p{
        font-size: 15px;
        width: 60%;
        margin: 0 auto 0 auto;
    }
}
@media screen and (max-width:768px){
    .s-heading{
        text-align: center;
        padding: 20px 0;
    }
    .s-heading h3{
        font-size: 30px;
    }
    .s-heading p{
        font-size: 15px;
        width: 100%;
    }
}
@media screen and (max-width:992px){
    .home2-wrapper .s-heading{
        text-align: center;
        padding: 30px 0;
    }
    .home2-wrapper .s-heading h3{
        font-size: 30px;
    }
    .home2-wrapper .s-heading p{
        font-size: 15px;
        width: 60%;
        margin: 0 auto 0 auto;
    }
}
@media screen and (max-width:768px){
    .home2-wrapper .s-heading{
        text-align: center;
        padding: 20px 0;
    }
    .home2-wrapper .s-heading h3{
        font-size: 30px;
    }
    .home2-wrapper .s-heading p{
        font-size: 15px;
        width: 100%;
    }
}
@media screen and (max-width:768px){
    .home2-wrapper .s-heading{
        text-align: center;
        padding: 20px 0;
    }
    .home2-wrapper .s-heading h3{
        font-size: 25px;
    }
    .home2-wrapper .s-heading p{
        font-size: 15px;
        width: 100%;
    }
}
/* section heading */
/* servivce start */
@media screen and (max-width:1200px){
    .service .service-card .img-footer{
        padding: 30px 0;
        position: absolute;
        bottom: 2%;
        width: 90.5%;
    }
    .service-overlay{
        position: absolute;
        top: 4%;
        left: 4%;
        bottom: 4%;
        right: 4%;
    }
}
@media screen and (max-width:992px){
    .service .service-card .img-footer{
        padding: 30px 0;
        position: absolute;
        bottom: 2%;
        width: 91.5%;
    }
}
@media screen and (max-width:768px){
    .service .service-card .img-footer{
        padding: 15px 0;
        position: absolute;
        bottom: 2.5%;
        width: 89%;
        font-size: 18px;
    }
    .service-overlay{
        position: absolute;
        top: 5%;
        left: 5%;
        bottom: 5%;
        right: 5%;
    }
    .s-overlay-content .fas{
        font-size: 20px;
        width: 40px;
        height: 40px;
        padding: 10px;
        margin-bottom: 5px;
    }
    .s-overlay-content p{
        color: #b5b1b1;
        font-size: 15px;
        font-weight: 600;
        margin-top: 5px;
    }
    .s-overlay-content button{
        padding: 8px 25px;
        margin-top: 5px;
        
    }
}

@media screen and (max-width:576px){
    .service .service-card .img-footer{
        padding: 15px 0;
        position: absolute;
        bottom: 2%;
        left: 50%;
        transform: translate(-50%, 0%);
        width: 66%;
        margin: 0 auto 7px auto;
    }
    .service-overlay{
        position: absolute;
        top: 3.5%;
        left: 17%;
        bottom: 3.5%;
        right: 17%;
    }
   
}

@media screen and (max-width:420px){
    .service .service-card .img-footer{
        padding: 15px 0;
        position: absolute;
        bottom: 2%;
        left: 5%;
        right: 5%;
        transform: translate(0%, 0%);
        width: 90.5%;
        margin: 0 auto 8px auto;
    }
    .service-overlay{
        position: absolute;
        top: 4%;
        left: 3.5%;
        bottom: 3.5%;
        right: 3.5%;
        padding: 0 10px;
    }
}
@media screen and (max-width:992px){
    .home2-wrapper .home2-service .s-heading{
        position: relative;
    }
    .home2-wrapper .home2-service .hs-heading-content{
        text-align: left;
        position: relative;
        bottom: 0;
        
    }
    .home2-wrapper .home2-service .s-heading .s-button{
        margin-top: 5px;
        position: relative;
        left: 0%;
        z-index: 9;
    
    }
    .home2-wrapper .hs-content .hs-card{
        border: .5px solid #02030393;
        position: relative;
        bottom: 0%;
        z-index: 9;
    }
}
@media screen and (max-width:576px){
    .home2-wrapper .home2-service .s-heading h3{
        font-size: 25px;
    }
}

@media screen and (max-width:992px){
    .home3-service-content .hs3-card h4 a{
        font-size: 20px;
    }
    .home3-service {
        padding: 30px 0 00px 0;
    } 
}
@media screen and (max-width:576px){
    .home3-service .home3-service-content .hs3-card{
        padding: 5px 0;
        margin-top: 0px;
    }
    .home3-service {
        padding: 0px 0 00px 0;
    }
    .home3-service-content .hs3-card h4{
        margin-top: 5px;
    }
}
/* service end */
/* projects start */
@media screen and (max-width:768px){
    .project-card .p-footer{
        padding: 23px 0;
    }
    .projects-footer h4{
        font-size: 18px;
        font-weight: 600;
        text-align: center;
        padding-top: 0px;
        text-transform: capitalize;
    }
}
@media screen and (max-width:575px){
    .projects{
        padding: 20px 0;
    }
    .project-card .p-footer{
        padding: 23px 0;
    }
    .project-card {
        padding:0  0px 0 15px;
    }
    .projects-footer h4{
        font-size: 15px;
    }
    .projects-content .projects-footer{
        text-align: center;
    }
    .projects-footer .s-button{
        padding: 5px 15px;
    }

}
@media screen and (max-width:1600px){
    .home2-wrapper .project-text .project-inner-text{
        padding: 120px 0px 160px 0px;
        width: 60%;
    }
    .home2-wrapper .project-slider .owl-dots {
        position: absolute;
        right: -8%;
        bottom: 20%;
    }
}
@media screen and (max-width:1400px){
    .home2-wrapper .project-text .project-inner-text{
        padding: 80px 0px 130px 0px;
        width: 60%;
    }
    .home2-wrapper .project-slider .owl-dots {
        position: absolute;
        right: -9%;
        bottom: 20%;
    }
}
@media screen and (max-width:1200px){
    .home2-project{
        padding: 150px 0 20px 0;
    }
    .home2-wrapper .project-text .project-inner-text{
        padding: 40px 0px 100px 20px;
        width: 80%;
    }
    .home2-wrapper .project-slider .owl-dots {
        position: absolute;
        right: -9%;
        bottom: 20%;
    }
    .home2-wrapper .slider-card{
        position: relative;
        margin: 0px 15px;
    }
}
@media screen and (max-width:992px){
    .home2-project{
        padding: 40px 0 30px 0;
    }
    .home2-wrapper .project-text{
        position: relative;
        left: 0;
        right: 0;
    }
    .home2-wrapper .project-text .project-inner-text{
        padding: 40px 0px 40px 20px;
        width: 80%;
    }
    .home2-wrapper .project-slider .owl-dots {
        position: absolute;
        right: 45%;
        bottom: -10%;
    }
    .home2-wrapper .slider-card{
        position: relative;
        margin: 0px 15px;
    }
    .home2-wrapper .hp-slider{
        order:2;
    }
    .home2-wrapper .hp-text{
       order:1;
    }
}
@media screen and (max-width:768px){
    .home2-wrapper .slider-card{
        margin: 0px 5px;
    }
    .home2-wrapper .project-text .project-text-overlay h3{
        font-size: 25px;
    }
    .home2-wrapper .project-text .project-inner-text{
        padding: 20px 0px 5px 10px;
        width: 95%;
        margin: 0 auto 0 auto;
    }
}
/* projects end */
/* team start */
@media screen and (max-width:992px){
    .team-overlay{
        padding: 10px 0 10px 0;
    }
    .t-overlay-content h3 a{
        font-size: 18px;
    }
    .t-overlay-content p{
        font-size: 15px;
    }
    .t-overlay-content .t-social ul li .fab{
        width: 25px;
        height: 25px;
        padding-top: 3px;
    }
}
@media screen and (max-width:992px){
    .team-overlay{
        padding: 10px 0 10px 0;
    }
    .t-overlay-content h3 a{
        font-size: 18px;
    }
    .t-overlay-content p{
        font-size: 15px;
    }
    .t-overlay-content .t-social ul li .fab{
        width: 25px;
        height: 25px;
        padding-top: 3px;
    }
}@media screen and (max-width:768px){
    .team-overlay{
        padding: 5px 0 5px 0;
    }
    .t-overlay-content h3 a{
        font-size: 18px;
    }
    .t-overlay-content p{
        font-size: 15px;
    }
    .t-overlay-content .t-social ul li .fab{
        width: 25px;
        height: 25px;
        padding-top: 3px;
    }
    .team-card:hover .team-overlay{
        opacity: 1;
        transition: all 1s ease-out;
        transform: translateY(0px) ;
    }
    .team-card:hover .team-img{
        transform: translateY(-0px) ;
        transition: all 1s ease;
    }
}
@media screen and (max-width:992px) {
    .home2-wrapper .home2-team{
        padding: 0px 0 0 0;
    }
    .home2-wrapper .home2-team-content{
        margin: 20px 0 0 0;
    }
}
@media screen and (max-width:768px) {
    .home2-wrapper .home2-team{
        padding: 20px 0 0 0;
    }
    .home2-wrapper .home2-team-content{
        margin: 20px 0 0 0;
    }
}
@media screen and (max-width:576px) {
    .home2-wrapper .home2-team{
        padding: 0px 0 0 0;
    }
    .home2-wrapper .home2-team-content{
        margin: 20px 0 0 0;
    }
}
@media screen and (max-width:992px){
    .ht3-img-overlay h3{
        font-size: 20px;
        font-weight: 700;
    }
    .h3-team-overlay{
        padding: 10px 0 10px 0;
    }
}
/* team end */
/* blog start */
@media screen and (max-width:1200px){
    .blog .blog-text h3 a{
        font-size: 18px;
    }
    .blog .blog-text p{
        font-size: 14px;
    }
}
@media screen and (max-width:992px){
    .blog{
        padding: 50px 0 0px 0;
    }
}
@media screen and (max-width:768px){
    .blog{
        padding: 30px 0 0px 0;
    }
    .blog .blog-text h3 a{
        font-size: 18px;
    }
    .blog .blog-text button{
        padding: 5px 15px;
        color: #dfb971;
        border: 1px solid #dfb971;
        background-color: #dfb97100;
    }
}
@media screen and (max-width:992px){
    .home2-blog .home2-blog-content h3{
        font-size: 20px;
    }
    .home2-wrapper .home2-blog{
        padding: 0px 0 40px 0;
    }
    .home2-blog .home2-blog-content{
        margin-top: 0px;
    }
}
@media screen and (max-width:768px){
    .home2-blog .home2-blog-content h3{
        font-size: 20px;
    }
    .home2-wrapper .home2-blog{
        padding: 0px 0 20px 0;
    }
}
@media screen and (max-width:576px){
    .home2-blog .home2-blog-content h3{
        font-size: 16px;
    }
    .home2-blog .home2-blog-content{
        margin-top: 0px;
    }
}
@media screen and (max-width:1200px){
    .home3-blog .hb3-card-text h3 a{
        font-size: 16px;
    }
    .home3-blog .hb3-card-text p{
        font-size: 12px;
    }
}
@media screen and (max-width:992px){
    .home3-blog .hb3-card-text h3 a{
        font-size: 18px;
    }
    .home3-blog .hb3-card-text p{
        font-size: 13px;
    }
    .home3-blog{
        padding: 0 0 60px 0;
    }
}
@media screen and (max-width:576px){
    .home3-blog .hb3-card-text h3 a{
        font-size: 16px;
    }
    .home3-blog .hb3-card-text p{
        font-size: 12px;
    }
    .home3-blog{
        padding: 0 0 30px 0;
    }
}

/* blog end */
/* testimonial start */
@media screen and (max-width:992px){
    .testimonial .last{
        margin: 0 auto 0 auto;
        max-width: 50%; 
    }
    .client-overlay{
        padding: 0px 0 20px 0;
    }
}
@media screen and (max-width:768px){
    .testimonial .last{
        margin: 0 auto 0 auto;
        max-width: 100%;  
    }
    .client-overlay{
        padding: 0px 0 20px 0;
    }
}
@media screen and (max-width:992px){
    .home2-wrapper .feedback{
        padding: 50px 0;
    }
} 
@media screen and (max-width:768px){
    .home2-wrapper .feedback{
        padding: 50px 0;
    }
    .home2-wrapper .feedback-slider{
        width: 400px;
        padding: 20px 50px 50px 50px;
    }
    .home2-wrapper .feedback-card h5{
        font-size: 30px;
    }
    .home2-wrapper .feedback-card h6{   
        margin: 20px 0;
        font-size: 18px; 
    }
    .home2-wrapper .feedback-card h3{
        font-size: 26px;
        margin-top: 18px;
    }
}
@media screen and (max-width:576px){
    .home2-wrapper .feedback{
        padding: 20px 0;
    }
    .home2-wrapper .feedback-slider{
        width: 290px;
        padding: 20px 10px 50px 10px;
    }
    .home2-wrapper .feedback-card h5{
        font-size: 20px;
    }
    .home2-wrapper .feedback-card h6{   
        margin: 12px 0;
        font-size: 15px; 
    }
    .home2-wrapper .feedback-card h3{
        font-size: 26px;
        margin-top: 16px;
    }
    .home2-wrapper .feedback-card h3 .fa-quote-right {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-color: #ffffff;
        padding-top: 10px;
        color: #FB4848;
        font-size: 20px;
    }
}
@media screen and (max-width:992px){
    .hf3-heading{
        color: #ffffff;
        text-align: center;
       
    }
    .hf3-heading h3{
        text-transform: capitalize;
        font-size: 40px;
        font-weight: 700;
        font-family: 'helvetica';
        
    }
}
@media screen and (max-width:768px){
    .hf3-overlay{
        background-color: #0000009c;
        padding: 50px 0;
    }
    .hf3-heading h3{
        text-transform: capitalize;
        font-size: 30px;
        font-weight: 700;
        font-family: 'helvetica';
        
    }
}
@media screen and (max-width:768px){
    .hf3-overlay{
        background-color: #0000009c;
        padding: 20px 0;
    }
}
/* testimonial end */
/* footer start */
@media screen  and (max-width: 992px){
    .footer{
        padding: 50px 0 30px 10px;
    }
    .footer-heading{
        margin-top: 30px;
    }
}
@media screen  and (max-width: 576px){
    .home2-footer .footer{
        padding: 10px 0 10px 0;
    }
    .footer-heading{
        margin-bottom: 10px;
        margin-top: 20px;
    }
}
/* home two */
@media screen  and (max-width: 992px){
    .home2-footer{
        padding: 20px 0 30px 10px ;
    }
    .home2-footer .footer-heading{
        margin-top: 30px;
    }
}
@media screen  and (max-width: 576px){
    .home2-footer{
        padding: 0px 0 20px 0;
    }
    .home2-footer .footer-heading{
        margin-bottom: 10px;
        margin-top: 20px;
    }
}
/* footer end */
/* copyright start */
@media screen and (max-width:768px){
    .copyright{
        padding: 15px 0 1px 0;
        font-size: 15px;
    }
}
/* copyright end */
/* universal  */
@media screen and (max-width:992px){
    .uni-banner .uni-banner-content{
        padding: 100px 0;
    }
}
@media screen and (max-width:576px){
    .uni-banner .uni-banner-content{
        padding: 50px 0;
    }
    .uni-banner .uni-banner-content h1{
        font-size: 25px;
    }
    
}
/* univarsal contact form */
@media screen and (max-width:992px){
    .contact-form .contact-form-text{
        padding-left: 0px;
    }
    .contact-form .contact-form-content h3{
        font-size: 25px;
        font-weight: 700;
        margin-bottom: 15px;

    }
    .contact-form .contact-form-input{
        width: 400px;
        padding: 50px;
        background-color: #ffffff;
        box-shadow: 1px 1px 50px 1px #a09d9d;
    }
}
@media screen and (max-width:768px){
    .contact-form .contact-form-overlay{
        padding: 50px 0;
    }
    .contact-form .contact-form-text{
        padding-left: 0px;
    }
    .contact-form .contact-form-content h3{
        font-size: 25px;
        font-weight: 700;
        margin-bottom: 15px;

    }
    .contact-form .contact-form-input{
        width: 100%;
        padding: 25px;
        background-color: #ffffff;
        box-shadow: 1px 1px 50px 1px #a09d9d;
        margin-top: 20px;
    }
}
@media screen and (max-width:576px){
    .contact-form .contact-form-overlay{
        padding: 20px 0;
    }
    .contact-form .contact-form-text{
        padding-left: 0px;
    }
    .contact-form .contact-form-content h3{
        font-size: 25px;
        font-weight: 700;
        margin-bottom: 15px;

    }
    .contact-form .contact-form-input{
        width: 100%;
        padding: 15px 10px;
        background-color: #ffffff;
        box-shadow: 1px 1px 50px 1px #a09d9d;
        margin-top: 20px;
    }
}


/* innner page about us */

@media screen and (max-width:768px){
    .about-wrapper .home2-team{
        padding: 0px 0 20px 0;
    }
}
@media screen and (max-width:992px){
    .about-wrapper .home2-about{
        padding: 50px 0 50px 0;
    }
}
@media screen and (max-width:992px){
    .about-wrapper .home2-about{
        padding: 20px 0 20px 0;
    }
}
/* inner contact */

@media screen and (max-width:1200px){
    .get-in-touch .office-hour ul li{
        padding: 7px 0;
        font-size: 15px;
    }
    .get-in-touch .office-hour h3{
        font-size: 25px !important;
    }
}
@media screen and (max-width:992px){
    .office-location{
        padding: 50px 0 50px 0;
    }
    .get-in-touch .gt-form {
        padding: 20px;
    }
    .get-in-touch{
        padding: 20px 0 50px 0;
    }
}
@media screen and (max-width:768px){
    .office-location{
        padding: 30px 0 10px 0;
    }
    .office-location .location-text{
        margin-top: 20px;
    }
    .get-in-touch .office-hour{
        margin-top: 20px;
        padding: 30px 0px 10px 30px;
    }
    .get-in-touch .gt-form input,
    .get-in-touch .gt-form textarea{
        margin: 0px 0 15px 0;
    }
    .get-in-touch{
        padding: 20px 0 30px 0;
    }
}
@media screen and (max-width:576px){
    .office-location{
        padding: 20px 0 10px 0;
    }
    .gt-heading{
        margin-bottom: 10px;
    }
    .office-location .location-text h3,
    .get-in-touch h3{
        font-size: 25px;
    }
    .get-in-touch{
        padding: 20px 0 15px 0;
    }
}
/* service inner page */
@media screen and (max-width:992px){
    .home2-wrapper .inner-service{
        background-image: none;
        padding: 50px 0;
    }
    .home2-wrapper .hs-content{
        padding: 10px 0 20px 0;
    }
    .home2-wrapper .home2-service .s-heading{
        position: relative;
    }
    .home2-wrapper .home2-service .hs-heading-content{
        text-align: left;
        position: relative;
        bottom: 0;
        
    }
    .home2-wrapper .home2-service .s-heading .s-button{
        margin-top: 5px;
        position: relative;
        left: 0%;
        z-index: 9;
    
    }
    .home2-wrapper .hs-content .hs-card{
        border: .5px solid #02030393;
        position: relative;
        bottom: 0%;
        z-index: 9;
    }
}

@media screen and (max-width:576px){
    .home2-wrapper .inner-service{
        background-image: none;
        padding: 20px 0;
    }
    .home2-wrapper .home2-service .s-heading h3{
        font-size: 25px;
    }
    .home2-wrapper .hs-content{
        padding: 0px 0 20px 0;
    }
}
/* service details  */
@media screen and (max-width:992px){
    .service-details-inner{
        padding: 70px 0;
    }
    .service-details-inner .service-catagory ul li a{
        font-size: 18px;
    }
    .service-details-inner .service-catagory ul li{
        padding: 10px 0 10px 10px;
       
    }
    .service-details-inner .sc-image h4{
        font-size: 30px;
    }
}
@media screen and (max-width:768px){
    .service-details-inner{
        padding: 40px 0;
    }
    .service-details-inner .service-catagory{
        padding: 0 15px 15px 25px;
    }
    .service-details-inner .sc-image h4{
        font-size: 38px;
        padding: 80px 10px 100px 20px;
    }
}
@media screen and (max-width:576px){
    .service-details-inner{
        padding: 20px 0;
    }
    .service-details-inner .sc-image h4{
        font-size: 30px;
    }
}
@media screen and (max-width:400px){
    .service-details-inner{
        padding: 20px 0;
    }
    .service-details-inner .sc-image h4{
        padding: 30px 10px 30px 20px; 
    }
}
/* team inner page */
@media screen and (max-width:992px){
    .owner-intro{
        padding: 70px 0 20px 0;
    }
}
@media screen and (max-width:992px){
    .owner-intro{
        padding: 40px 0 20px 0;
    }
}
@media screen and (max-width:576px){
    .owner-intro{
        padding: 0px 0 20px 0;
    }
}
/* blog inner page */

@media screen and (max-width:1200px){
    .blog-inner{
        padding: 70px 0 30px 0;
    }
    .blog-inner-sidebar .blog-recent ul li h5{
        font-size: 15px;
    }
    .blog-inner-sidebar .blog-recent ul li p{
        font-size: 13px;
    }
}
@media screen and (max-width:992px){
    .blog-inner-sidebar h3{
        padding: 10px 20px;
        font-size: 22px; 
    }
    .blog-inner-sidebar .blog-menues ul li,
    .blog-inner-sidebar .blog-recent ul li{
        padding: 10px 10px;
    
    }
}
@media screen and (max-width:768px){
    .blog-inner{
        padding: 50px 0 30px 0;
    }
    .blog-inner h3,
    .blog-inner h3 a{
        font-size: 20px;
    }
    .blog-inner-sidebar .blog-recent ul li h5{
        font-size: 18px;
    }
}
@media screen and (max-width:576px){
    .blog-inner{
        padding: 20px 0 20px 0;
    }
    .blog-inner h3,
    .blog-inner h3 a{
        font-size: 20px;
    }
    .blog-inner-sidebar .blog-recent ul li h5{
        font-size: 18px;
    }
    .bp-comments-card .bp-com-name button{
        padding: 5px 30px;
        font-size: 15px;
        position: relative;;
        margin: 0 0 5px 0;
    }
    .blog-inner-sidebar .blog-recent-button ul li{
        padding: 7px 12px;
        margin: 5px 0px;
        font-size: 15px;
    }
    .blog-inner .bp-comment-box{
        padding: 10px;
        margin: 10px 0px 0px 8px;
    }
    .blog-inner .blog-inner-sidebar .bis-searchbox{
        background-color: #e8e8e8ad;
        padding: 10px 10px  10px 10px;
        margin: 0px;
       
    }
    .blog-inner-sidebar .blog-menues,
    .blog-inner-sidebar .blog-recent,
    .blog-inner-sidebar .blog-recent-button{
        margin-left: 0;
    }
}
