@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,400&display=swap');
@font-face{
    font-family: 'helvetica';
    src: url('../../fonts/Helvetica-Bold.ttf');
}
body{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    background-color: #ffffff;
    font-family: 'helvetica';
    font-family: 'Open Sans', sans-serif;
}
/* top header start*/
.sticky{
    position: fixed;
    top: 0;
    width: 100%;
    background:#f3f0f0;
    z-index: 99999;
    padding: 0px;
    box-shadow: 0px 0px 10px rgb(95, 95, 95);
}

.top-header{
    background-color: #1A4C72;
    padding: 20px 0 5px 0;
}
.top-header .top-adress{
    padding: 1px 0 0 0 ;
}
.top-header .top-adress p a{
    font-size: 14px;
    font-weight: 400;
    font-family: 'Open Sans';
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
}
.top-header .top-social-icons{
    text-align: end;
}
.top-header .top-social-icons ul li{
    display: inline-block;
    margin: 0 10px;
    height: 30px ;
    width: 30px;
    border: 1px solid #707070;
    text-align: center;
    padding: 2px 0 0 0;
}
.top-header .top-social-icons ul li a{
    color: #ffffff;
}
.top-header .top-social-icons ul li:nth-last-child(1){
    height: 30px ;
    width: 80px;
    border: 1px solid #707070;
    text-align: center;
    padding: 0px 0 px 0;

}
.top-header .dropdown .btn{
    color: #ffffff;
    padding: 0px 0 0px 0;
    font-weight: 700;
}
.top-header .dropdown .btn>img{
    max-width: 100%;
}
.dropdown-menu a{
    color: #000000 !important;
    font-weight: 700;
}
.top-header .dropdown .fas{
    font-size: 13px;
}

@media screen and (max-width:768px){
    .top-header .top-social-icons{
        text-align: center;
    }
    .top-header .top-adress p a{
        font-size: 13px;
    }
    .top-header .top-social-icons ul li{
        margin: 0 10px;
    }
}
@media screen and (max-width:400px){
    .top-header .top-social-icons{
        text-align: center;
    }
    .top-header .top-adress p {
        font-size: 14px;
        text-align: center;
    }
    .top-header .top-social-icons ul li{
       
        margin: 0 5px;
        height: 30px ;
        width: 30px;
    }
    .top-header .dropdown .fas{
        font-size: 10px;
    }
}
/* top heading end */
/* navbar start */

.navbar-collapse {
    display: flex;
    justify-content: space-between;
}
.navbar-nav{
    text-align: end;
    margin: 0 auto 0 auto;
}
.nav-item a{
    text-transform: capitalize;
    margin: 0 10px;
    font-weight: 700;
    font-size: 16px;
    color: #1A4C72 !important;
}
.header button{
    background-color: #DFB871;
    color: #ffffff;
    font-size: 16px;
    font-weight: 700;
    border: none;
    border-radius: 0px;
    text-transform: capitalize;
    padding: 10px ;
    outline: none !important; 

}
.header .navbar-nav .h-in-button{
    display: none;
}
.header .h-button{
    margin-top: 20px;
}
.navbar button:hover{
    color: #ffffff;
}
.navbar .dropdown-menu a{
    margin: 0 0;
}
.navbar .dropdown .fas{
    padding: 5px 0 0 0px;
    font-size: 12px;
}
@media screen and (max-width:992px){
    .header .navbar-nav .h-in-button{
        display: block;
    }
    .header .h-button{
        display: none;
    }
    .navbar-nav{
        text-align: start;
        margin: 0;
    }
    .btn{
        padding: 0 ;
    }

}
/* navbar end */
/* banner start */
.banner{
    background-image: url('../../images/banner/banner-bg.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.banner-overlay{
    background-color: #ffffffde;
    opacity:.9;
    z-index: 99;
}
.banner-content{
    opacity: 1;
    color: #ffffff;
}
.banner #banner-img{
    order: 1;
}
.banner .banner-img>img{
    max-width: 100%;
    text-align: center;
    position: absolute;
    bottom: 0%;
    z-index: 999;
}
#banner-text{
    order: 2;
}
.banner-text{
    padding: 300px 0px 300px 50px;
    
}
.banner-text h6{
    color: #020303;
    font-size: 18px;
    font-family: 'Open Sans';
    font-weight: 700;
    text-transform: capitalize; 
}
.banner-text h1{
    color: #1A4C72;
    font-size: 60px;
    font-family: 'helvetica';
    font-weight: 700;
    text-transform: capitalize;
}
.banner-text p{
    color: #020303;
    font-size: 15px;
    font-family: 'Open Sans';
    font-weight: 600;
    text-transform: capitalize;
    padding: 10px 150px 10px 0;
}
@media screen and (max-width:1200px){
    .banner-text{
        padding: 200px 0px 200px 50px;
    }
    .banner-text h1{
        font-size: 50px;
    }
    .banner .banner-img>img{
        max-width: 80%;
    }
}
@media screen and (max-width:992px){
    .banner-text{
        padding: 100px 0px 100px 50px;
    }
    .banner-text h1{
        font-size: 30px;
    }
    .banner .banner-img>img{
        max-width: 70%;
    }
    .banner-text p{
        font-size: 15px;
        padding: 10px 0px 10px 0;
    }
}
@media screen and (max-width:768px){
    .banner-text{
        padding: 100px 0px 100px 50px;
    }
    .banner-text h1{
        font-size: 25px;
    }
    .banner .banner-img>img{
        max-width: 100%;
    }
    .banner-text p{
        font-size: 15px;
        padding: 10px 0px 10px 0;
    }
}
@media screen and (max-width:576px){
    .banner-text{
        padding: 10px 0px 20px 0px;
        text-align: center;
    }
    .banner #banner-img{
        order: 2;
    }
    #banner-text{
        order: 1;
    }
    .banner-text h1{
        font-size: 25px;
    }
    .banner .banner-img>img{
        order:2;
        max-width: 30%;
        position: relative;
    }
    .banner .banner-img{
        text-align: center;
    }
    .banner-text p{
        font-size: 15px;
        padding: 10px 0px 10px 0;
    }
}
/* banner end */
/* buttons start */
.s-button{
    background-color: #DFB871;
    color: #ffffff;
    font-size: 16px;
    font-weight: 700;
    border: none;
    border-radius: 0px;
    text-transform: capitalize;
    padding: 10px ;
    outline: none !important;
}
/* buttons end */
/* about us start */
.about{
    padding: 100px 0;
}
.about .about-content h6{
    font-size: 16px;
    font-weight: 600;
    color: #1A4C72;
    text-transform: capitalize;
}
.about .about-content h3{
    font-size: 40px;
    font-family: 'helvetica';
    font-weight: 700;
    color: #020303;
    text-transform: capitalize;
    margin-top: 0px;
}
.about .about-content p{
    font-size: 18px;
    font-weight: 600;
    color: #707070;
    padding: 0px 155px 0 0 ;
}
/* .about-content .about-img>img {
    max-width: 100%;
}
.about-content .about-img{
    z-index: -99;
} */
.about-content .about-img-part{
    background-image: url('../../images/about/about.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    max-width: 100%;
    height: 100%;
    position: relative;
}
.about-content .experience-text{
    z-index: 999;
    background-color: #ffffff;
    width: 168px;
    text-align: center;
    color: #DFB871;
    text-transform: capitalize;
    padding: 25px 0;
    box-shadow: 5px 5px 80px 0px #a09f9f;
    position: absolute;
    left: -20%;
    top: 0;
}
.about-content .experience-text h4{
    font-weight: 700;
    font-size: 30px;
}
.about-content .experience-text h5{
    font-weight: 700;
    font-size: 22px;
}
.about-content .s-button{
    padding: 10px 30px;
    position: absolute; 
    bottom: 0%;
}
@media screen and (max-width:992px){
    .about{
        padding: 50px 0;
    }
    .about-content .experience-text{
        width: 150px;
        padding: 15px 0;
    }
    .about-content .experience-text h4{
        font-size: 25px;
    }
    .about-content .experience-text h5{
        font-size: 16px;
    }
    .about .about-content h3{
        font-size: 30px;
        font-family: 'helvetica';
        font-weight: 700;
        color: #020303;
        text-transform: capitalize;
        margin-top: 0px;
    }
    .about .about-content p{
        font-size: 15px;
        font-weight: 600;
        color: #707070;
        padding: 0px 50px 0 0 ;
    }
}
@media screen and (max-width:768px){
    .about-content .experience-text{
        width: 120px;
        padding: 10px 0;
        position: relative;
        left: 0%;
        top: 0;
    }
    .about-content .about-img-part{
        margin-top: 10px;
    }
    .about-content .s-button{
        padding: 10px 30px;
        margin: 200px 0 0px 0;
        position: relative; 
        bottom: 0%;
    }
    .about-content .experience-text h4{
        font-weight: 700;
        font-size: 20px;
    }
    .about-content .experience-text h5{
        font-weight: 700;
        font-size: 15px;
    }
}
@media screen and (max-width:575px){
    .about{
        padding: 20px 0;
    }
    .about .about-content p{
        padding: 0px 10px 0 0 ;
    }
}
/* about us end */
/* counter up start*/
.counter-up{
    padding: 0px 0;
}
.counter-up .counter-content{
    text-align: center;
    padding: 30px 0 20px 0;
    border: 1px solid #DFB871;
}
.counter-up .counter-content  .fas{
    font-size: 30px;
    width: 50px ;
    height: 50px ;
    background-color: #DFB871;
    padding-top: 10px;
    color: #ffffff;
}
.counter-up .counter-content h3{
    font-size: 50px;
    font-weight: bold;
    padding-top: 10px;
    color: #1A4C72;
}
.counter-up .counter-content p{
    font-size: 22px;
    font-weight: bold;
    color: #020303;
    text-transform: capitalize;
}
@media screen and (max-width:992px){
    .counter-up .counter-content h3{
        font-size: 30px;
        font-weight: bold;
        padding-top: 10px;
        color: #1A4C72;
    }
    .counter-up .counter-content p{
        font-size: 18px;
        font-weight: bold;
        color: #020303;
        text-transform: capitalize;
    }
}
@media screen and (max-width:576px){
    .counter-up .counter-content h3{
        font-size: 40px;
        font-weight: bold;
        padding-top: 10px;
        color: #1A4C72;
    }
    .counter-up .counter-content p{
        font-size: 22px;
        font-weight: bold;
        color: #020303;
        text-transform: capitalize;
    }

}
/* counter up end */
/* skills start */
.skills{
    padding: 100px 0;
}
.skills .skill-bar{
    border: 1px solid #dfb971be;
    padding: 30px 30px 0px 30px;
}
.skills .skill-bar h3{
    font-size: 18px;
    font-weight: 700;
    text-transform: capitalize;
    color: #020303;
}
.skill-text{
    padding: 20px 0 20px 20px;
}
.skill-text h6{
    font-size: 16px;
    font-weight: 600;
    color: #1A4C72;
    text-transform: capitalize;
}
.skill-text h3{
    font-size: 40px;
    font-family: 'helvetica';
    font-weight: 700;
    color: #020303;
    text-transform: capitalize;
    margin-top: 0px;
}
.skill-text p{
    font-size: 18px;
    font-weight: 600;
    color: #707070;
    padding: 0 50px 0 0;
}
.skill-text .s-button{
    padding: 10px 30px;  
}
@media screen and (max-width:992px){
    .skills{
        padding: 70px 0;
    }
    .skill-text p{
        font-size: 17px;
        padding: 0 0px 0 0;
    }
    .skill-text{
        padding: 20px 0 0px 20px;
    }
    .skill-text h3{
        font-size: 30px;
    }
}
@media screen and (max-width:575px){
    .skills{
        padding: 50px 0;
    }
}
@media screen and (max-width:575px){
    .skills{
        padding: 30px 0;
    }
    .skill-text p{
        font-size: 17px;
        padding: 0 0px 0 0;
    }
    .skill-text{
        padding: 20px 20px 0px 20px;
    }
    .skill-text h3{
        font-size: 30px;
    }
}
/* skills end */
/* section heading start */
.s-heading{
    text-align: center;
    padding: 50px 0;
}
.s-heading h6{
    text-transform: capitalize;
    color: #1A4C72;
    font-size: 16px;
    font-weight: 600;
}
.s-heading h3{
    font-size: 40px;
    font-family: 'helvetica';
    font-weight: 700;
    color: #020303;
    text-transform: capitalize;
    margin-top: 0px;
}
.s-heading p{
    font-size: 16px;
    font-weight: 600;
    color: #707070;
    width: 45%;
    margin: 0 auto 0 auto;
}
@media screen and (max-width:992px){
    .s-heading{
        text-align: center;
        padding: 30px 0;
    }
    .s-heading h3{
        font-size: 30px;
    }
    .s-heading p{
        font-size: 15px;
        width: 60%;
        margin: 0 auto 0 auto;
    }
}
@media screen and (max-width:768px){
    .s-heading{
        text-align: center;
        padding: 20px 0;
    }
    .s-heading h3{
        font-size: 30px;
    }
    .s-heading p{
        font-size: 15px;
        width: 100%;
    }
}
/* section heading end */
/* service start */
.seervice{
    padding: 0px 0;
}
.service .service-card {
    text-align: center;
    margin:15px  15px;
}
.service .service-card .service-image>img{
    max-width: 100%;
}
.service .service-card .service-image {
    position: relative; 
}
.service .service-card .img-footer{
    color: #ffffff;
    background-color: #1a4c72b2;
    padding: 30px 0;
    position: absolute;
    bottom: 2%;
    width: 92%;
    text-align: center;
    opacity: 1;
    text-transform: capitalize;
    font-size: 22px;
    font-weight: bold;
}
.service .service-card:hover .img-footer{
    opacity: 0;
}
.service-overlay{
    position: absolute;
    top: 4%;
    left: 4%;
    bottom: 4%;
    right: 3.5%;
    background-color: #1a4c72e1;
    opacity: 0;
}
.service .service-card:hover .service-overlay{
    opacity: 1;
}
.s-overlay-content{
    position: absolute;
    top: 50%;
    transform: translate(0%, -50%);
}
.s-overlay-content .fas{
    color: #ffffff;
    font-size: 25px;
    width: 50px;
    height: 50px;
    border: 1px solid #ffffff;
    padding: 10px;
    margin-bottom: 15px;
}
.s-overlay-content h4 a{
    color: #ffffff;
    font-size: 18px;
    font-weight: 600;
    text-transform: capitalize;
    text-decoration: none;  
}
.s-overlay-content p{
    color: #b5b1b1;
    font-size: 15px;
    font-weight: 600;
    margin-top: 15px;
}
.s-overlay-content button{
    color: #dfb971;
    font-size: 15px;
    font-weight: 600;
    text-transform: capitalize;
    padding: 10px 25px;
    margin-top: 15px;
    border: 1px solid #dfb971;
    outline: none;
    background-color: #ffffff17;
}
@media screen and (max-width:1200px){
    .service .service-card .img-footer{
        padding: 30px 0;
        position: absolute;
        bottom: 2%;
        width: 90.5%;
    }
    .service-overlay{
        position: absolute;
        top: 4%;
        left: 4%;
        bottom: 4%;
        right: 4%;
    }
}
@media screen and (max-width:992px){
    .service .service-card .img-footer{
        padding: 30px 0;
        position: absolute;
        bottom: 2%;
        width: 91.5%;
    }
}
@media screen and (max-width:768px){
    .service .service-card .img-footer{
        padding: 15px 0;
        position: absolute;
        bottom: 2.5%;
        width: 89%;
        font-size: 18px;
    }
    .service-overlay{
        position: absolute;
        top: 5%;
        left: 5%;
        bottom: 5%;
        right: 5%;
    }
    .s-overlay-content .fas{
        font-size: 20px;
        width: 40px;
        height: 40px;
        padding: 10px;
        margin-bottom: 5px;
    }
    .s-overlay-content p{
        color: #b5b1b1;
        font-size: 15px;
        font-weight: 600;
        margin-top: 5px;
    }
    .s-overlay-content button{
        padding: 8px 25px;
        margin-top: 5px;
        
    }
}

@media screen and (max-width:576px){
    .service .service-card .img-footer{
        padding: 15px 0;
        position: absolute;
        bottom: 2%;
        left: 50%;
        transform: translate(-50%, 0%);
        width: 66%;
        margin: 0 auto 7px auto;
    }
    .service-overlay{
        position: absolute;
        top: 3.5%;
        left: 17%;
        bottom: 3.5%;
        right: 17%;
    }
   
}

@media screen and (max-width:420px){
    .service .service-card .img-footer{
        padding: 15px 0;
        position: absolute;
        bottom: 2%;
        left: 5%;
        right: 5%;
        transform: translate(0%, 0%);
        width: 90.5%;
        margin: 0 auto 8px auto;
    }
    .service-overlay{
        position: absolute;
        top: 4%;
        left: 3.5%;
        bottom: 3.5%;
        right: 3.5%;
        padding: 0 10px;
    }
}
/* service end */
/* projects start */
.projects{
    padding: 50px 0;
}
.project-card{
    margin-top: 15px;
    text-align: center;
}
.project-card .project-img>img{
    max-width: 100%;
    z-index: -9;
}
.project-card .project-img{
    position: relative;
}
.project-card .p-footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: #ffffff;
    padding: 33px 0;
    margin: 0;
    opacity: 0;  
}
.p-footer a{
    font-size: 22px;
    font-weight: 700;
    text-transform: capitalize;
    color: #1A4C72;
    text-decoration: none;
}
.project-card:hover .p-footer{
    opacity: 1;
} 
.projects-content .projects-footer{
    padding: 20px 0;
    background-color: #020303;
    color: #ffffff;
}
.projects-footer h4{
    font-size: 22px;
    font-weight: 600;
    text-align: end;
    padding-top: 8px;
    text-transform: capitalize;
}
.projects-footer .s-button{
    padding: 10px 25px;
}
@media screen and (max-width:768px){
    .project-card .p-footer{
        padding: 23px 0;
    }
    .projects-footer h4{
        font-size: 18px;
        font-weight: 600;
        text-align: center;
        padding-top: 0px;
        text-transform: capitalize;
    }
}
@media screen and (max-width:575px){
    .projects{
        padding: 20px 0;
    }
    .project-card .p-footer{
        padding: 23px 0;
    }
    .projects-footer h4{
        font-size: 15px;
    }
    .projects-content .projects-footer{
        text-align: center;
    }
    .projects-footer .s-button{
        padding: 5px 15px;
    }
   
}
/* projects end */
/* team start */
.team{
   position: relative;
}
.team-content{
    text-align: center;
    padding-top:40px ;
}
.team-card{
    margin: 10px 15px 0 15px;
}
.team-card .team-img>img{
    width: 100%;
}
.team-overlay{
    padding: 40px 0 30px 0;
    background-color: #1A4C72;
    position: absolute;
    bottom: 0;
    left: 0%;
    width: 100%;
    text-align: center;
    opacity: 0;
}
.team-card:hover .team-overlay{
    opacity: 1;
    transition: all .8s ease-out;
    transform: translateY(90px) ;
}
.team-card:hover .team-img{
    transform: translateY(-50px) ;
    transition: all 1s ease;
}
.t-overlay-content{
    position: relative;   
}
.t-overlay-content h3 a{
    color: #ffffff;
    font-size: 22px;
    font-weight: 600;
    text-transform: capitalize;
    text-decoration: none;
}
.t-overlay-content p{
    color: #707070;
    font-size: 18px;
    font-weight: 600;
    text-transform: capitalize;
    text-decoration: none;
}
.t-overlay-content .t-social ul li{
    display: inline-block;
    list-style: none;
    margin: 0 5px;
    text-align: center;
}
.t-overlay-content .t-social ul li a{
    color: #ffffff;
    
}
.t-overlay-content .t-social ul li .fab{
    border: 1px solid #ffffff;
    width: 30px;
    height: 30px;
    padding-top: 5px;
}
@media screen and (max-width:992px){
    .team-overlay{
        padding: 10px 0 10px 0;
    }
    .t-overlay-content h3 a{
        font-size: 18px;
    }
    .t-overlay-content p{
        font-size: 15px;
    }
    .t-overlay-content .t-social ul li .fab{
        width: 25px;
        height: 25px;
        padding-top: 3px;
    }
}
@media screen and (max-width:992px){
    .team-overlay{
        padding: 10px 0 10px 0;
    }
    .t-overlay-content h3 a{
        font-size: 18px;
    }
    .t-overlay-content p{
        font-size: 15px;
    }
    .t-overlay-content .t-social ul li .fab{
        width: 25px;
        height: 25px;
        padding-top: 3px;
    }
}@media screen and (max-width:768px){
    .team-overlay{
        padding: 5px 0 5px 0;
    }
    .t-overlay-content h3 a{
        font-size: 18px;
    }
    .t-overlay-content p{
        font-size: 15px;
    }
    .t-overlay-content .t-social ul li .fab{
        width: 25px;
        height: 25px;
        padding-top: 3px;
    }
    .team-card:hover .team-overlay{
        opacity: 1;
        transition: all 1s ease-out;
        transform: translateY(0px) ;
    }
    .team-card:hover .team-img{
        transform: translateY(-0px) ;
        transition: all 1s ease;
    }
}
/* team end */
/* blog start */
.blog{
    padding: 100px 0 50px 0;
}
.blog .blog-img a>img{
    width: 100%;
}
.blog .blog-img{
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
    position: relative;
}
.blog .blog-date{
    text-align: center;
    position: absolute;
    top: 0;
    left: 7%;
    z-index: 9;
    color: #ffffff;
    background-color: #dfb971;
    width: 80px;
    width: 60px;
}
.blog .blog-date h6{
    margin-bottom: 0;
    padding-top: 15px;
    font-size: 20px;
    font-weight: bold;
}
.blog .blog-date p{
    margin-top: 0;
    padding-top: 0px;
    font-size: 18px;
    font-weight: bold;
}
.blog .blog-text{
    background-color: #ffffff;
    text-align: center;
    margin-left: 20px;
    margin-right: 20px;
    padding: 30px 15px;
    position: relative;
    top: -35px;
}
.blog .blog-text h3 a{
    color: #020303;
    font-size: 22px;
    font-family: 'helvetica';
    text-transform: capitalize;
    text-decoration: none;
}
.blog .blog-text p{
    color: #707070;
    font-size: 16px;
    font-weight: 600;
    font-family: 'Open Sans';
    padding: 10px 0;
}
.blog .blog-text button{
    padding: 10px 25px;
    color: #dfb971;
    border: 1px solid #dfb971;
    background-color: #dfb97100;
}
@media screen and (max-width:1200px){
    .blog .blog-text h3 a{
        font-size: 18px;
    }
    .blog .blog-text p{
        font-size: 14px;
    }
}
@media screen and (max-width:992px){
    .blog{
        padding: 50px 0 0px 0;
    }
}
@media screen and (max-width:768px){
    .blog{
        padding: 30px 0 0px 0;
    }
    .blog .blog-text h3 a{
        font-size: 18px;
    }
    .blog .blog-text button{
        padding: 5px 15px;
        color: #dfb971;
        border: 1px solid #dfb971;
        background-color: #dfb97100;
    }
}
/* blog end */
/* testimonial start */
.testimonial{
    background-image: url('../../images/testimonial/testimonial-bg.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.client-overlay{
    background-color: #020303;
    opacity: .9;
    padding: 30px 0 80px 0;
}
.testimonial .s-heading h3,
.testimonial .s-heading h6{
    color: #ffffff;
}
.testimonial .testimonial-text{
    text-align: center;
    color: #1A4C72;
    background-color: #ffffff;
    padding: 30px 20px 20px 20px ;
    margin-bottom: 20px;
}
.testimonial .testimonial-text p{
    font-size: 16px;
    padding: 0px 0 0px 0;
    font-weight: 500;
}
.testimonial .testimonial-text h4{
    margin-top: 0px;
}
.testimonial .testimonial-text h4 a{
    color: #1A4C72;
    text-decoration: none;
    text-transform: capitalize;
    font-size: 18px;
    font-weight: 600;
}
.testimonial-text:hover{
    background-color: #dfb971;
}
.testimonial-text:hover .t-overlay-effect{
    color: #ffffff;
    opacity: 1;
}
@media screen and (max-width:992px){
    .testimonial .last{
        margin: 0 auto 0 auto;
        max-width: 50%; 
    }
    .client-overlay{
        padding: 0px 0 20px 0;
    }
}
@media screen and (max-width:768px){
    .testimonial .last{
        margin: 0 auto 0 auto;
        max-width: 100%;  
    }
    .client-overlay{
        padding: 0px 0 20px 0;
    }
}
/* testimonial end */
/* footer start */
.footer{
    padding: 100px 0;
}
.footer-heading{
    margin-bottom: 30px;
    text-transform: capitalize;
    font-size: 18px;
    font-weight: 400;
    font-family: 'helvetica';
}
.footer-logo p{
    color: #413f3f;
    font-size: 16px;
    font-weight: 600;
}
.footer ul li{
    list-style: none;
    margin: 15px 0;
}
.footer ul li a{
    color: #020303;
    text-decoration: none;
    text-transform: capitalize;
    font-size: 16px;
    font-weight: 600;
}
.footer-logo .footer-social ul li{
    display: inline-block;
    margin: 0 10px 0 0;
    width: 30px;
    height: 30px;
    text-align: center;
    border: 1px solid #1A4C72;
}
.footer-logo .footer-social h5{
    color: #000000;
    font-size: 18px;
    font-family: 'helvetica';
    text-transform: capitalize;
    padding: 5px 0;
}
.footer .footer-social ul li a .fab{
   font-size: 15px;
   color: #1A4C72;
   padding-top: 7px;
}
.footer .footer-button{
    margin-top: 20px;
}
.footer .s-button{
    width: 95%;
    margin: 10px 0 0px 0;
    color: #1A4C72;
    background-color: #dfb97100;
    border: 1px solid #1a4c72ad;
    font-size: 14px;
}
.footer .s-button:hover{
    background-color: #dfb971;
    color: #ffffff;
    border: 1px solid #dfb971;
}
@media screen  and (max-width: 992px){
    .footer{
        padding: 50px 0 30px 0;
    }
    .footer-heading{
        margin-top: 30px;
    }
}
@media screen  and (max-width: 576px){
    .footer{
        padding: 10px 0 10px 0;
    }
    .footer-heading{
        margin-bottom: 10px;
        margin-top: 20px;
    }
}
/* footer end */
/* copyright start */
.copyright{
    padding: 30px 0 15px 0;
    text-align: center;
    background-color: #000000;
    color: #ffffff;
    font-size: 16px;
    font-weight: 600;
}
/* copyright end */